@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1>Login</h1>
    
    <label for="txtEmail">Email: </label>
    <input type="text" id="txtEmail"/><br />
    <label for="txtPass">Password: </label>
    <input type="password" id="txtPass"/><br />

    <button type="button" id="btnLogin">Login</button>
</div>
<script src="~/js/login.js"></script>
